/*

!projects

!**/README.md

**/.*
!**/*.dist
!**/.*.dist
!**/.gitkeep
!**/.github

**/vendor
**/var
**/database
**/redis
**/public/*
!**/public/*.php
**/docker-compose.yml
**/composer.lock

!certificate.png