<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="true" stopOnFailure="true" backupGlobals="false" cacheResult="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory-limit" value="-1"/>
    <env name="PHP_IDE_CONFIG" value="serverName=localhost" force="true"/>
  </php>
  <coverage>
    <report>
      <clover outputFile="coverage/xml/clover.xml"/>
      <html outputDirectory="coverage/html"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="otus">
      <directory>tests</directory>
      <directory>src</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
