<?xml version="1.0" encoding="UTF-8"?>
<ruleset
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs.cache.json"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>

    <rule ref="PSR12">
        <exclude name="PSR12.Files.FileHeader" />
        <exclude name="PSR12.Files.OpenTag" />
    </rule>

    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="print" value="echo"/>
            </property>
        </properties>
    </rule>

    <file>./</file>

    <exclude-pattern>vendor</exclude-pattern>
    <exclude-pattern>var</exclude-pattern>
</ruleset>
