{% block title %}Банковская выписка за период {{ startDate }} - {{ endDate }}.{% endblock %}
{% block body %}

    <div style="padding: 0 50px; margin-bottom: 35px;">
        <div style="color: #23346B; font-size: 18px;">
            Здравствуйте!
        </div>
        <p>
            Идентификатор выпиcки: <code>{{ id }}</code>
        </p>
    </div>

{% endblock %}
