<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    cacheDirectory="var/cache/analyze/cache"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <fileExtensions>
        <extension name=".php" />
    </fileExtensions>
    <projectFiles>
        <directory name="src" />
        <ignoreFiles>
            <directory name="**/Resources" />
            <file name="src/Kernel.php" />
            <file name="src/Infrastructure/Http/Controller/AbstractController.php" />
            <file name="src/Domain/DataTransferObject.php" />
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <MissingConstructor errorLevel="info" />
        <DocblockTypeContradiction errorLevel="info" />
        <RedundantConditionGivenDocblockType errorLevel="info" />
        <UnnecessaryVarAnnotation errorLevel="info" />
        <RawObjectIteration errorLevel="info" />
        <PropertyNotSetInConstructor errorLevel="info" />
        <InvalidDocblock errorLevel="info" />
        <NonInvariantDocblockPropertyType errorLevel="info" />
    </issueHandlers>
    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin" />
    </plugins>
</psalm>
